body {
  margin: 0;
  font-family: "Lora";
}

:root {
  --primary-color: #d68e96;
  --secondary-color: #6b8666;
  --tertiary-color: #000;

  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.joykit-button {
  display: none;
}
